@use "../utils/variables" as *;

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: $nav-bg;
  backdrop-filter: blur(10px);
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  .nav-logo .nav-name {
    font-size: 30px;
    font-weight: 600;
    color: $text-color;
  }

  .nav-menu .nav_menu_list {
    display: flex;
    gap: 30px;

    .nav-link {
      font-weight: 500;
      color: $text-color;
      transition: 0.3s;

      &:hover {
        color: $first-color;
      }
    }

    .nav-button .btn {
      padding: 10px 20px;
      background: $first-color;
      color: $text-color;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 500;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
