@use "../utils/variables" as *;

.featured-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10%;

  .featured-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

    .featured-text-card span {
      background: $nav-bg;
      color: $text-color;
      padding: 3px 8px;
      font-size: 12px;
      border-radius: 5px;
    }

    .featured-name {
      font-size: 60px;
      font-weight: 600;
      margin-block: 24px;
      color: $nav-bg;
    }

    .featured-text-info {
      font-size: 18px;
      margin-bottom: 30px;
      color: $color-muted-light;
    }

    .featured-text-btn {
      display: flex;
      gap: 20px;

      .blue-btn {
        background: transparent;
        border: 2px solid $nav-bg;
        &:hover {
          background: $nav-bg;
        }
      }

      .btn {
        padding: 10px 20px;
        background: $nav-bg;
        color: $text-color;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .social_icons {
      display: flex;
      margin-top: 30px;
      gap: 30px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        box-shadow: $shadow-sm;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: $nav-bg;
          transform: scale(1.08);
          box-shadow: $shadow-md;
        }
      }
    }
  }

  .featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 80vh;
    justify-content: flex-start;
    padding-left: 2%;
    .image {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      overflow: hidden;
      animation: imgFloat 5s ease-in-out infinite;

      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
        }
      }
    }
  }
}

@keyframes imgFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
